* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f7fa;
  font-family: 'Tinos', serif;
}

a {
  text-decoration: none;
}

a img {
  border-style: none;
}

ul {
  list-style-type: none;
}

.cf:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.pc {
  display: none;
}
.wrapper {
  margin: 0 30px;
}

button {
  border: none;
  outline: none;
  background-color: #1e90ff;
  font-size: 16px;
  width: 150px;
  height: 40px;
  color: white;
  font-family: 'Tinos', serif;
  font-weight: normal;
}

button:hover {
  background-color: #0030ff;
  cursor: pointer;
  font-weight: bold;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  border: none;
  outline: none;
  color: white;
  background-color: #0080ff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-size: 20px;
}

#myBtn:hover {
  background-color: #0030ff;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 27px;
}

/* header style */
.logo_contact {
  margin: 0 10px;
  overflow: hidden;
}

.main_header img {
  height: 78px;
  padding: 5px 0;
  float: left;
}

.contact_container {
  float: right;
  padding-top: 35px;
  font-size: 14px;
  font-weight: bold;
}

.main_nav_container {
  background-color: #1e90ff;
  padding: 12px;
  top: 0;
}

.nav_list li {
  font-size: 24px;
  text-align: center;
  float: left;
  width: 33.3%;
}

.nav_list li.mo-home {
  margin-top: 5px;
}

.nav_list li:first-child, .nav_list li:last-child {
  font-size: 34px;
}

.nav_list li a {
  padding: 17px 17px 19px 17px;
  color: white;
}

.nav_list li a:hover {
  background-color: #0030ff;
}

.drop {
  position:relative;
  width: auto;
  float: right;
}

.hover_menu {
  width: auto;
  float: left;
  width: 5%;
}

.hover_menu:hover, .drop:hover {
  cursor: pointer;
}

.content {
  position: absolute;
  background-color: rgba(30, 144, 255, 0.9);
  right: -43px;
  top: 125%;
  width: 240px;
  padding: 0 14px;
  font-size: 18px;
  font-weight: bold;
  display:none;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  border-bottom-left-radius: 15px;
}

.content_heading {
  font-size:24px;
  color:#f5f7fa;
  font-weight:lighter
}

.content span {
  display: block;
  padding: 8px 0px;
}

.pc_nav {
  z-index: 1;
  position:absolute;
  left: -30px;
  width: 60%;
}

.pc_nav ul li a{
  display:block;
  background-color: rgba(30, 144, 255, 0.9);
  text-align: center;
  padding: 16px 15px;
  font-size: 24px;
  color: #f5f7fa;

}

.pc_nav ul li a:hover {
  background-color: #0030ff;
  color: #000000;
}

/* visual styles */
.main_visual_container {
  width: 100%;
  height: 602px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../image/front.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_text{
  padding-top: 160px;
  text-align: center;
  color: white;
  line-height: 180%;
}

.hero_text h1 {
  font-size: 30px;
}

.hero_text p {
  /* padding-top: 8px; */
  font-weight: bold;
  font-size: 18px;
}

.hero_text button {
  margin-top: 110px;
  font-size: 20px;
  opacity: 0.9;
}

.dots{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  margin: 115px 3px 0 3px;
}

.su_dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}

/* .dots:hover, .su_dot:hover {
  cursor: pointer;
  background-color: #2d2d2d;
} */

.dotsActive {
  background-color: black;
}

/* about university styles */
.about_container {
  margin-top: 90px;
  overflow: hidden;
}

.about_section {
  text-align: center;
  line-height: 140%;
}

.about_section p {
  color: #2d2d2d;
  padding: 50px 0 20px 0;
  font-size: 18px;
  font-weight: normal;
}

.about_section button {
  float:right;
}

/* courses style */
.courses_block {
  margin-top: 90px;
  width: 100%;
  height: 650px;
  background-image: url(../image/coures_bg.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
}

.courses_details {
  margin-top: 78px;
  text-align: center;
}

.courses_details h2 {
  padding-bottom: 30px;
}

.courses_details p {
  font-size: 18px;
  padding-bottom: 53px;
  font-weight: normal;
}

.u_p_section {
  width: 100%;
  height: 120px;
  background-color: white;
  margin-bottom: 30px;
  overflow: hidden;
}

.image_container {
  width: 35%;
  height: 120px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.ug_image {
  background-image: url(../image/ug.jpg);
}

.pg_image {
  background-image: url(../image/pg.jpg);
}

/* .u_p_section img {
  height: 120px;
  width: 100%;
} */

.u_p_right {
  width: 65%;
  height: 120px;
  float: right;
}

.u_p_right h3 {
  font-size: 18px;
  padding-top: 20px;
  text-align: left;
  display: inline-block;
  border-bottom: 1px solid #1e90ff;
  margin-left: 26px;
  font-weight: lighter;
}

.u_p_right h3 a {
  color: #1e90ff;
}

.u_p_right p {
  color: black;
  font-size: 16px;
  padding: 10px 20px 0 26px;
  text-align: left;
}

.courses_container button {
  display: block;
  margin: auto;
  margin-top: 14px;
}

/* register style */
.registration_container {
  width: 100%;
  height: 350px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/register_bg.jpg);
  margin-top: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.register_section {
  margin-top: 86px;
}

.register_section h2 {
  padding-bottom: 26px;
}

.register_section p {
  line-height: 110%;
  padding-bottom: 54px;
  color: white;
  font-weight: normal;
  font-weight: bold;
}

.register_section button {
  width: 200px;
  font-size: 22px;
}

/* research_styles */
.research_container {
  margin-top: 88px;
  text-align: center;
}

.research_section {
  background-color: #ffffff;
  margin-top: 40px;
  overflow:auto;
}

.research_section img {
  width: 100%;
  height: auto;
}

.research_section h3 {
  font-size: 20px;
  padding: 10px 0;
}

.research_section p {
  font-size: 16px;
  padding: 5px 8px 8px 8px;
  text-align: left;
  color: #2d2d2d;
  font-weight: normal;
}

.research_section p:last-child {
  text-align: right;
  font-size: 14.61px;
}

.research_section p:last-child a {
  color: #1e90ff;
  font-weight: normal;
}

.research_container button {
  margin-top: 50px;
}

/* news styles */
.news_details, .events_details {
  margin-top: 90px;
  text-align: center;
}
.news_details h3, .events_details h3 {
  font-size: 28px;
}

.news_event_section {
  margin-top: 40px;
  background-color: white;
}

.news_event_section img {
  width: 100%;
  height: auto;
}

.news_event_section h4 {
  font-size: 20px;
  padding: 8px;
  text-align: left;
}

.news_event_section a {
  color: #1e90ff;
}

.news_event_section p {
  color: #2d2d2d;
  font-size: 18px;
  padding: 0px 8px 10px 8px;
  font-weight: bold;
  text-align: left;
}

.news_details button, .events_details button {
  margin-top: 50px;
}

/* success styles */
.success_container {
  margin-top: 90px;
}

.success_bg {
  background-color: #dadada;
  overflow: hidden;
}

.success_details img {
  width: 60%;
  height:auto;
  padding-top: 25px;
  padding-bottom: 15px;
  display: block;
  margin: auto;
}

.success_details p.quote {
  text-indent: 30px;
  font-size: 22px;
  font-style: italic;
  padding-bottom: 20px;
}

.success_details p.name {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 20px;
}

/* footer styles */
.footer_main{
  margin-top: 90px;
}
.mapcontainer {
  width: 100%;
  height: 250px;
  /* background-color: tomato; */
}

.mapcontainer img {
  width: 100%;
  height: 250px;
}

.contact_details_container {
  width: 100%;
  height: 240px;
  text-align: center;
  color: white;
  background-color: #2d2d2d;
}

.contact_section h3 {
  font-size: 24px;
  padding: 30px 0 18px 0;
}

.contact_section_details li {
  font-size: 14px;
  padding-bottom: 6px;
  font-weight: bold;
}

.social_icons{
  padding: 10px;
  overflow: hidden;
  margin:auto;
}

.social_icons li, .social_icons li figure {
  display: inline;
  padding: 0 3px;
}

.social_icons li img {
  width: 34px;
  height: auto;
}

.sitemap {
  font-size: 12px;
}

.sitemap a {
  color: white;
}

.copyright {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  padding: 10px;
}

@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 48px;
  }

  button {
    font-size: 18px;
  }

  #myBtn {
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    font-size: 28px;
  }

  #myBtn:hover {
    font-size: 32px;
  }

  .wrapper {
    width: 1166px;
    margin: auto;
  }

  .mobile {
    display: none;
  }

  .pc {
    display: block;
  }

  .inline {
    display:inline;
  }

  /* header styles */
  .logo_container img {
    height: 112px;
    padding: 10px 0 10px 40px;
  }

  .contact_container {
    padding-top: 50px;
  }

  .contact_container ul li {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    padding-right: 40px;
  }

  .contact_container ul li i {
    font-size: 24px;
  }

  /* visual styles */
  .main_visual_container {
    height: 536px;
  }

  .pc_nav {
    position: static;
    display: block !important;
  }

  .pc_nav ul li {
    float: left;
    width: 14.28%;
    text-align: center;
  }

  .pc_nav ul li a{
    display: block;
    font-weight: bold;
    color: white;
    font-size: 22px;
    padding: 16px;
    background-color: transparent;
    border: none;
  }

  .pc_nav ul li a:hover {
    background-color: #1e90ff;
    color: black;
    box-shadow: 2px 2px 2px black;
  }

  .pc_nav ul li.current_page a{
    /* background-color: rgba(0, 153, 255); */
    background-color: #1e90ff;
    color: #000000;
  }

  .hero_text {
    padding-top: 110px;
  }

  .hero_text h1 {
    font-size: 60px;
    line-height: 110%;
  }

  .hero_text p {
    font-size: 30px;
    font-weight: normal;
    padding-top: 8px;
  }

  .hero_text button {
    width: 196px;
    height: 50px;
    margin-top: 62px;
    font-size: 24px;
  }

  .dots {
    width: 12px;
    height: 12px;
    margin: 40px 10px 0 10px;
  }

  /* about styles */
  .about_section h2 {
    padding-top: 100px;
  }

  .about_section p {
    font-size: 29px;
    text-align: justify;
    text-indent: 50px;
    padding-top: 80px;
    line-height: 120%;
  }

  .about_section button {
    margin-top: 25px;
  }

  /* statistics container */
  div.statistics-container {
  margin-top: 76px;
  overflow: hidden;
  }

  div.statistics-division {
    width: 16.66%;
    float: left;
    text-align: center;
  }

  div.statistics-division p.title {
    color: #2d2d2d;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 22px;
  }

  div.statistics-division p.number {
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
    color: #2d2d2d;
  }

  div.statistics-division img {
    height: 80px;
    width: auto;
  }

  /* courses styles */
  .courses_block {
    height: 704px;
    overflow: hidden;
    /* max-width: 1366px; */
    margin:auto;
    margin-top: 115px;
    background: #2d2d2d;
  }

  .courses_image {
    width: 43.5%;
    height: 704px;
    background-image: url(../image/group.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
  }

  .courses_container {
    width: 56.5%;
    height: 704px;
    float: right;
    margin: 0;
  }

  .courses_details {
    text-align: left;
    margin: 0px 100px 0 108px;
    width: 556px;
  }

  .courses_details h2 {
    padding: 56px 0 30px 0;
  }

  .courses_details p {
    padding-bottom: 58px;
    font-size: 24px;
  }

  .ug_pg_container {
    margin: 0 100px 0 108px;
    width: 556px;
  }

  .u_p_section {
    height: 146px;
    margin-bottom: 34px;
    background-color: #f5f7fa;
  }

  .image_container {
    width: 33%;
    height: 146px;
  }

  .u_p_right {
    width: 67%;
  }

  .u_p_right h3 {
    font-size: 28px;
    padding-top: 18px;
    font-weight: lighter;
  }

  .u_p_right p {
    font-size: 24px;
    padding-top: 10px;
  }

  .u_p_section img {
    height: 146px;
    width: 100%;
  }
  .courses_container button {
    margin-left: 108px;
    margin-top: 0;
    display: inline;
  }

  /* registration styles */
  .registration_container {
    height: 600px;
    margin-top: 140px;
  }
  .register_section{
    width: 50%;
    float: left;
    margin-top: 140px;
  }

  .register_section h2 {
    padding-bottom: 46px;
  }

  .register_section p {
    font-size: 30px;
  }

  .registration_form_container {
    width: 50%;
    float: right;
  }

  .the_form {
    height: 530px;
    margin: 35px 0;
    background-color: rgba(0,0,0,0.8);
    border-radius: 15px;
    overflow: hidden;
  }

  .form_elements {
    margin: 54px 42px 0 42px;
  }

  .input_control {
    overflow: hidden;
    padding-bottom: 25px;
  }

  .input_control label {
    color: white;
    width: 28%;
    font-size: 28px;
    text-align: left;
    float: left;
  }

  .input_control input {
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #f5f7fa;
    width: 72%;
    height: 40px;
    text-indent: 10px;
    font-size: 18px;
    font-weight: lighter;
    float: right;
  }

  .form_elements button.pc {
    display: block;
    margin: auto;
    width: 202px;
    height: 56px;
    font-size: 30px;
    margin-top: 41px;
  }
  /* research styles */
  .research_container {
    margin-top: 108px;
    text-align: center;
  }

  .research_section {
    background-color: #ffffff;
    margin-top: 76px;
    overflow:auto;
    float: left;
    width: 31%;
  }

  .middle {
    margin-left:3.5%;
  }

  .research_section:last-child {
    float: right;
  }

  .research_section img {
    width: 100%;
    height: auto;
  }

  .research_section h3 {
    font-size: 20px;
    padding: 10px 0;
  }

  .research_section p {
    font-size: 16px;
    padding: 5px 8px 8px 8px;
    text-align: left;
    color: #2d2d2d;
    font-weight: bold;
  }

  .research_section p:last-child {
    text-align: right;
    font-size: 16px;
  }

  .research_section p:last-child a {
    color: #1e90ff;
    font-weight: normal;
  }

  .research_container button {
    margin-top: 25px;
  }

  /* news & events styles */
  .news_events_container {
    margin-top: 80px;
    overflow: hidden;
  }
  .news_details {
    width: 50%;
    float: left;
    margin: 0;
  }

  .news_event_section {
    width: 48%;
    margin-top: 38px;
  }

  .news_event_section h4 {
    font-size: 16px;
  }

  .news_event_section p {
    font-size: 14px;
  }

  .news {
    float: left;
    margin-right: 2%;
  }

  .events_details {
    width: 50%;
    float: right;
    margin: 0;
  }

  .event {
    float:left;
    margin-left: 2%;
  }

  .news_details h3, .events_details h3 {
    font-size: 38px;
  }

  .news_details button, .events_details button {
    margin-top: 20px;
  }

  /* success styles */
  .success_container {
    margin-top: 80px;
  }

  .success_container h2 {
    text-align: center;
    padding-bottom: 80px;
  }

  .success_details img {
    height: 314px;
    width: auto;
    float: right;
    padding-bottom: 0;
  }

  .success_details p.quote {
    padding-top: 70px;
    text-indent: 45px;
    font-size: 30px;
    padding-bottom: 0;
  }

  .name {
    padding-top: 54px;
    font-size: 24px;
    padding-bottom: 0;
  }

  /* footer styles */

  .footer_main {
    margin-top: 80px;
    overflow: hidden;
  }

  .first_block {
    /* max-width: 1366px; */
    margin:auto;
  }

  .mapcontainer {
    width: 60.5%;
    height: 500px;
    float:left;
  }

  .mapcontainer img {
    width: 100%;
    height: 500px;
  }

  .contact_details_container {
    width: 39.5%;
    /* width: 530px; */
    height: 500px;
    float: right;
  }

  /* .contact_section {
    width: 530px;
  } */

  .contact_section h3 {
    padding-top: 34px;
    padding-bottom: 20px;
    font-size: 36px;
  }

  .follow {
    padding-top: 60px;
  }

  .contact_section_details li {
    font-size: 24px;
  }

  .contact_section_details li i {
    font-size: 30px;
  }

  .social_icons li img {
    height: 66px;
    width: auto;
    padding-right: 10px;
  }

  .sitemap {
    padding-top: 28px;
    font-size: 18px;
    font-weight: bold;
  }

  .copyright {
    padding: 30px;
    overflow:hidden;
  }

  .copyright small {
    font-size: 18px;
    font-weight: normal;
  }
}
