* {
	margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: orange;
}

h2 {
	font-size: 35px;
}

button {
	border: none;
	background: rgba(255, 99, 71, 0.9);
	width: 180px;
	height: 48px;
	border-radius: 15px;
	font-size: 18px;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
	background: rgba(255, 99, 71, 1);
	color: #ffffff;
}

.under {
	width: 50px;
	height: 5px;
	background-color: black;
}


/* HEADER STYLE */
header {
  background-color:WhiteSmoke;
  overflow:hidden;
}

.wrapper {
  width: 1080px;
  margin:auto;
}

div.logo-container {
  width:40%;
  float:left;
}

div.logo-container h1{
  line-height:4px;
  padding-top:42px;
  color: tomato;
}

div.logo-container p{
	padding-top: 20px;
}
div.nav-container {
  width:60%;
  float:left;
}

nav ul{
  list-style-type: none;
  background-color:ghostWhite;
  margin:30px 0;
  padding:0;
  overflow:hidden;
}

nav ul li {
  float:left;
  text-align:center;
  width: 20%;
}

nav ul li a {
  display:block;
  padding: 20px;
  text-decoration: none;
  color: #404040;
}

nav ul li a:hover {
  background-color: grey;
  color: #ffffff;
}

/* VISUAL STYLE */

div.visual-container {
  margin-bottom: 70px;
  height: 580px;
  background-image: url('../thefront.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
	padding-top: 170px;
}

.hero h2 {
	font-size: 50px;
}

.hero p {
	font-size: 30px;
}

.hero button {
	margin-top: 50px;
}

/* about styles */
.about_container {
	margin-bottom: 70px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 8px 8px 10px #000000;
}

.about_des {
	width: 65%;
	height: 520px;
	background-color: ghostWhite;
	float:left;
}

.des {
	padding: 25px 15px 0 15px;
}

.des p {
	padding-top: 30px;
	text-indent: 30px;
}

.about_image {
	width: 35%;
	height: 520px;
	background-image: url(../image/who.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	float:right;
}
/* SECTIONS STYLE */
div.section-container {
  /* margin: 50px 150px 0 150px; */
  overflow-y: hidden;
}

section.section-division {
  width: 30%;
  height: auto;
  float: left;
	margin-top: 60px;
}

section.section-division div{
  width: 100%;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	position: relative;
	border-radius: 10px;
}

section.section-division div span {
	position: absolute;
	left: 50%;
	top: -11%;
	transform: translateX(-50%);
	background-color: deepskyblue;
	color: white;
	width: 40%;
	text-align: center;
	padding: 10px 0;
	border-radius: 3px;
}

.middle {
  margin: 0 5%;
}

.phy {
	background-image: url(../image/phy.jpeg);
}

.chem {
	background-image: url(../image/chem.jpeg);
}

.bio {
	background-image: url(../image/bio.jpeg);
}

.section-division h3 {
	padding-top: 20px;
}

/* CONTENTS AND IMAGE STYLE */
div.contents-container {
  margin: 50px 0 0 0;
  clear: both;
}

div.contents-container section figure {
  width: 420px;
  height: 320px;
  background-color: #2d2d2d;
  float:right;
}

div.contents-container h2 {
  font-size: 46px;
  font-style: oblique;
}

/* FOOTER */
footer {
  clear: both;
  margin-top: 80px;
  height: 60px;
  background: #2d2d2d;
  color: lightgrey;
  text-align: center;
  padding: 5px;
}
