* {
	margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: orange;
}

a img {
	border: none;
}

ul {
	list-style-type: none;
}

h2 {
	font-size: 35px;
}

button {
	border: none;
	outline: none;
	background: rgba(255, 99, 71, 0.8);
	width: 180px;
	height: 48px;
	border-radius: 15px;
	font-size: 18px;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
	background: rgba(255, 99, 71, 1);
	color: #ffffff;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: salmon;
  color: black;
  cursor: pointer;
	width: 50px;
	height: 50px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: tomato;
	color: white;
}

.under {
	width: 50px;
	height: 5px;
	background-color: black;
}

.pc, .pc_inline {
	display: none;
}

.cf:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.wrapper {
	margin: 0 30px;
}

header {
	background-color:WhiteSmoke;
}

div.logo-container {
	width:40%;
	float:left;
}

div.logo-container h1{
	line-height:4px;
	padding-top:30px;
	color: tomato;
	font-size: 36px;
}

div.logo-container p{
	padding: 20px 0;
}

div.nav-container {
	width:60%;
	float:right;
	position:relative;
}

div.nav-container span {
	display: inline-block;
	float: right;
	margin: 20px 0;
	font-size: 40px;
}

.nav-container nav {
	position: absolute;
	top: 107%;
	right: -15%;
}

.nav-container nav li a {
	display: block;
	padding: 15px 60px 15px 60px;;
	background-color: whiteSmoke;
	text-align: center;
	color: #000000;
}

.nav-container nav li a:hover {
	background-color: grey;
	color: white;
}

/* visual styles */
div.visual-container {
	margin-bottom: 80px;
	height: 600px;
	background-image: url('../image/thefront.jpg');
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
}

.hero {
	padding-top: 200px;
	text-align: center;
}

.hero h2 {
	font-size: 40px;
}

.hero p {
	font-size: 26px;
}

.hero button {
	margin-top: 30px;
}

/* about styles */
.about_container {
	margin-bottom: 80px;
}

.des p {
	padding-top: 40px;
	text-align: justify;
	text-indent: 50px;
	line-height: 140%;
}

.section-container {
	margin-top: 60px;
}

section.section-division {
	width: 100%;
	height: auto;
	margin-top: 80px;
}

section.section-division div{
	width: 100%;
	height: 220px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 10px;
}

section.section-division div span {
	position: absolute;
	left: 50%;
	top: -11%;
	transform: translateX(-50%);
	background-color: deepskyblue;
	color: white;
	width: 40%;
	text-align: center;
	padding: 10px 0;
}

.phy {
	background-image: url(../image/phy.jpeg);
}

.chem {
	background-image: url(../image/chem.jpeg);
}

.bio {
	background-image: url(../image/bio.jpeg);
}

.section-division h3 {
	padding-top: 20px;
}

/* topic styles */
.contents-container {
	margin-top: 80px;
}

.contents-container figure {
	text-align:center;
	color:tomato;
	font-weight:bold;
	font-size:28px;
}

.contents-container img {
	width: 100%;
	padding-top: 50px;
}

.topic_des {
	text-indent: 50px;
	padding-top: 30px;
	text-align: justify;
	line-height: 140%;
}

/* footer styles */
footer {
	margin-top: 80px;
	background-color: WhiteSmoke;
}

.contact_container {
	overflow: hidden;
}

.copy {
	clear: both;
	background: black;
	color: lightgrey;
	text-align: center;
	padding: 15px;
}

.f_section {
	text-align: center;
	width: 100%;
	color: black;
	padding-top: 40px;
}

.f_section:last-child {
	padding-bottom: 40px;
}

.f_section h3 {
	padding-bottom: 10px;
}

.f_section img {
	width: 35px;
	height: auto;
	display: inline;
	padding: 10px;
}

.f_section a {
	color: black;
}


@media screen and (min-width: 1080px){

	#myBtn {
		width: 70px;
		height: 70px;
	}

	.pc {
		display: block;
	}

	.pc_inline {
		display:inline;
	}

	.mobile {
		display: none !important;
	}

	/* HEADER STYLE */
	.wrapper {
	  width: 1080px;
	  margin:auto;
	}

	div.logo-container h1{
	  line-height:4px;
	  padding-top:42px;
	  color: tomato;
	}

	.nav-container nav{
		float: right;
	  list-style-type: none;
	  background-color:ghostWhite;
	  margin:30px 0;
	  padding:0;
	  position: static;
		display: block !important;
	}

	.nav-container nav ul li {
		float: left;
	}

	.nav-container nav ul li a {
	  display: inline-block;
	  padding: 20px;
	  text-decoration: none;
		background-color: ghostWhite;
	  color: #404040;
	}

	.nav-container nav ul li a:hover {
	  background-color: grey;
	  color: #ffffff;
	}

	/* VISUAL STYLE */

	div.visual-container {
	  margin-bottom: 100px;
	  height: 580px;
	}

	.hero {
		padding-top: 170px;
		text-align: left;
	}

	.hero h2 {
		font-size: 50px;
	}

	.hero p {
		font-size: 30px;
	}

	.hero button {
		margin-top: 50px;
	}

	/* about styles */
	.about_container {
		margin-bottom: 100px;
		overflow: hidden;
		border-radius: 20px;
		box-shadow: 8px 8px 10px #000000;
	}

	.about_des {
		width: 65%;
		height: 520px;
		background-color: ghostWhite;
		float:left;
	}

	.des {
		padding: 40px 15px 0 15px;
	}

	.des p {
		padding-top: 50px;
	}

	.about_image {
		width: 35%;
		height: 520px;
		background-image: url(../image/who.jpeg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		float:right;
	}
	/* SECTIONS STYLE */
	div.section-container {
	  overflow-y: hidden;
	}

	section.section-division {
	  width: 30%;
	  height: auto;
	  float: left;
	}

	.middle {
	  margin: 0 5%;
	}

	.section-division h3 {
		padding-top: 20px;
	}

	/* CONTENTS AND IMAGE STYLE */
	div.contents-container {
	  margin-top: 100px;
	  clear: both;
		overflow: hidden;
	}

	.contents-container h2 span {
		color: tomato;
		font-weight: lighter;
	}

	.contents-container section figure, .contents-container section img {
	  width: 420px;
	  height: 320px;
	  float:right;
		padding-left: 20px;
		padding-top: 0;
	}

	div.contents-container p {
		margin-top: 20px;
	}

	/* FOOTER */
	.f_section {
		width: 33.3%;
		float: left;
		padding-bottom: 40px;
	}

	.f_section h3 {
		padding-bottom: 10px;
	}

	.f_section img {
		width: 45px;
		height: auto;
	}
}
