* {
  padding: 0;
  margin: 0;
  font-family: "roboto";
  transition: 0.3s ease;
}

body {
  background-color: #f8f9fa;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}

.header_con {
  background-color: #fff;
  padding: 20px 0;
  position:fixed;
  width: 100%;
  z-index: 998;
}

.header_flex {
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper {
  width: 92%;
  margin: auto;
}

h1 {
  /* font-family: 'Akronim'; */
  font-weight: lighter;
}

.logoCon {
  width: 40%;
  position: relative;
  justify-content: space-between;
}

#bars {
  font-size: 22px;
  background: transparent;

  font-weight: lighter;
  border:none;
  outline: none;
  color: grey;
}

.inputCon {
  width: 45%;
  position: relative;
}

.inputCon input {
  width: 100%;
  outline: none;
  border-radius: 5px;
  height: 90%;
  border-style: solid;
  text-indent: 5px;
  font-size: 18px;
}

#search {
  background: transparent;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 8px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: grey;
}

#search i {
  font-size: 20px;
  font-weight:100;
}

.side_nav {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  z-index: 999;
}

.side_nav ul {
  overflow: auto;
  height: 100vh;
}

.side_nav ul li a {
  display: block;
  text-align: center;
  padding: 22px 20px;
  border-bottom: 2px solid #f3f3f3;
  list-style-type: none;
  text-decoration: none;
  color: grey;
}

a:hover {
  cursor: pointer;
}

.side_nav ul li a i {
  font-size: 30px;
}

.active {
  border-left: 4px solid tomato;
  color: rgb(30, 144, 255) !important;
}

.main {
  padding-top: 80px;
}

.selection {
  justify-content: flex-start;
  margin-top: 20px;
}

.manipur,.india {
  color: #3a3a3a;
  padding: 10px 15px;
  border-radius: 20px;
  margin-right: 10px;
  transition: 0.5s ease;
}

.manipur:hover ,.india:hover {
  cursor: pointer;
  background: rgba(30, 144, 255, 0.5);
}

.selected {
  background: orange;
  box-shadow: 2px 2px 15px #3a3a3a;
  color: #fff;
}

.in {
  display: none;
}

h2 {
  font-size: 22px;
  color: #3a3a3a;
  font-weight: lighter;
  padding: 20px 0;
  border-bottom: 1px solid #aaa;
}

.dashboard {
  padding-top: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  position: relative;
  text-align: left;
  background-color: #fff;
  border-radius: 25px;
  width: 100%;
  padding: 20px;
  padding-left: 20px;
  padding-top: 5px;
  color: #8f8f8f;
  margin: 5px 0;
  border: none;
  box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}


.case i {
  color: dodgerblue;

}

.reco i {
  color: #32cd32;
}

.dead i {
  color: #e60c0c;
}

.acti i {
  color: #f5365c;
}

.column i {
  position: absolute;
  right: 0;
  top: 50%;

  transform: translate(-50%,-50%);
  font-size: 45px;
}

.num {
  color:#3f414d;
  font-size: 30px;
}

.note{
  color: #3f414d;
  font-weight: lighter;
  font-size: 20px;
  display: inline-block;
  padding-bottom: 10px;
}

.tablePre{
  margin: 30px 0;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table {
  background: #fff;
  border-radius: 25px;
  padding: 0 15px;
  padding-bottom: 15px;
  width: 100%;
}

.precaution {
  margin-top: 30px;
}

#table_detail {
  border-collapse: collapse;
  width: 100%;
  color: #3b3b3b;
  text-align: left;
}

#table_detail td{
  padding: 20px 0;

}

#table_detail th {
  padding-top: 30px;
  padding-bottom: 20px;
  font-style: normal;
}

#table_detail td{
  text-align: center;
}

#table_detail td:first-child{
  text-align: left;
}

#table_detail th:nth-child(3), #table_detail th:nth-child(4),#table_detail td:nth-child(3), #table_detail td:nth-child(4){
  display: none;
}

.toggleIndia {
  display: none;
}

.precaution {
  margin-bottom: 30px;
  border-radius: 25px;
  background: #fff;
  padding: 0px 15px;
  padding-top: 0;
}

.preCon {
  padding: 15px 0;
  justify-content: space-between;
}


.preImage {
  width: 18%;
}

.preImage img {
  max-width: 100%;
}

.preDes{
  color:#a09e9e;
  width:75%;
  font-size: 15px;
  font-weight:normal;
  line-height: 25px;
}

h6 {
  color:#3f414d;
  font-size: 17px;
  font-weight: 300;
}

.news {
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;
  padding-bottom: 20px;
}



.news_con {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.block1, .block2{
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_news, .other_news1, .other_news2 {
  width: 100%;
  background-image: url("../images/3.jpg");
  background-position:bottom;
  background-size: cover;
  height: 180px;
  margin: 5px 0;
  position: relative;
  color: #ffe;
  z-index: 19;
}

h5 {
  font-weight: lighter;
}

.orange {
  color:orange;
}

.con h5, .con span{
  font-size: 15px;
}

.con {
  position: absolute;
  bottom: 0;
  padding: 5px;
}

.mini, .focus {
  right: 0;
  display: inline-block;
  position: absolute;
  z-index: 20;
  height:70px;
  width: 70px;
  border-radius: 50%;
  background-color: transparent;
  color: #ccc;
  border: 2px solid #ddd;
  font-size: 22px;
  font-weight: lighter;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%,-50%);
}

.mini {
  height: 50px;
  width: 50px;
  font-size: 18px;
}

.mini:hover, .focus:hover {
  background-color: #aaa;
  cursor:pointer;
}

.main_news .con h5 {
  font-size: 18px;
}

.main_news .con span {
  font-size: 14px;
}

.other_news1 {
  height: 120px;
  background-image: url("../images/1.jpg");
  width: 49%;
}

.other_news2 {
  height: 120px;
  background-image: url("../images/2.jpg");
  width: 49%;
  z-index: 19;
}

.other_news1 .mini, .other_news2 .mini {
  right: -10%;
}

.readmore {
  font-size: 15px;
  display: inline-block;
  margin: 10px 0;
  padding: 5px 0;
  color: dodgerblue;
  text-decoration: none;
  border-bottom: 1px solid #000;
}



.article {
  border-radius: 25px;
  background: #fff;
  padding: 15px 10px;
  padding-bottom: 30px;
  margin: 30px 0;

}

.article_con {
  flex-wrap: wrap;
  margin-top : 25px;
  justify-content: space-between;
}

.arti {
  width: 100%;
  margin-bottom: 25px;
  border-radius: 0px 0px 8px 8px;
  background-color: #f8f8ff;
}

.arti img {
  max-width: 100%;
}

.arti h5 {
  font-size: 20px;
  padding: 20px 0;
  padding-bottom: 14px;
  font-weight:normal;
  color:#3f414d;
}

.arti span {
  display: inline-block;
  font-size: 15px;
  padding-bottom: 30px;
  font-style: italic;
}

.arti h5, .arti span {
  padding-left: 10px;
}

.faq{
  border-radius: 15px;
  background-color: #fff;

}

.faq h2 {
  padding-left: 15px;
}

.set{
  position: relative;
  width: 100%;
  height: auto;

}
.set > span{
  display: block;
  padding: 25px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  background: #fff;
  border-bottom:1px solid #f3f3f3;
}
.set > span i{
  float: right;
  margin-top: 2px;
}
.set > span.act{
  background-color:#fff;
}

.content{
  background-color: #f8f8ff;
  padding: 30px 15px;
  display:none;
}

.first {
  display: block;
}
.content p{
  line-height: 30px;
  margin: 0;
  color: #333;
}


@media only screen and (min-width: 1100px) {
  .navspace {
    width: 8%;
  }


  .navWrap {
    width: 98%;
    margin: auto;
  }

  .column {
    width: 20%;
  }

  h2 {
    font-size: 28px;
  }

  #bars {
    display: none;
  }

  .side_nav {
    display: block !important;
  }

  .logoCon {
    justify-content: space-between;
  }

  .main {
    width: 92%;
  }

  .tablePre{
    flex-direction: row;
  }

  .table {
    width: 62%;
  }

  .precaution {
    width: 30%;
    margin: 0;
  }

 .block1 {
   width:50%;
 }

  .block2 {
    width: 49%;
  }

  .other_news1, .other_news2 {
    width: 100%;
    height: 47%;
  }

  .other_news1 .mini, .other_news2 .mini {
    right: 0;
    height: 70px;
    width:70px;
    font-size: 24px;
  }

  .main_news {
    height: 380px;
  }

  .main_news .focus {
    height: 100px;
    width: 100px;
    font-size: 40px;
  }

  .main_news .con h5, .other_news1 h5, .other_news2 h5 {
    font-size: 24px;
  }

  .con {
    padding: 0 0 30px 30px;
  }

  #table_detail th{
    text-align: center;
  }

  #table_detail th:first-child{
    text-align: left;
  }

  .arti {
    width: 30%;
  }

  .arti img{
    height: 250px;
    width: 100%;
    overflow: hidden;
  }

}
