*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
body{
  background-color:#f8f8f8;
}

.nav-link{
  color: white;
}

.dropdown-item{
  color:ghostwhite;
  font-size: 1.2rem;
  font-weight: lighter;
}

.dropdown-menu{
  background: rgb(64, 64, 168);
}

.navbar{
  color: white;
}

.logo{
  font-size: 2.5rem;
  color: white;
}

.navlink {
  font-size: 1.4rem;
  text-align: center;
}


.aham{
  display:none;
}

.hero{
  display: flex;
  padding: 3rem 0;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 90%;
  margin: auto;
  color: orange;
  height: auto;
  
}

.hero p > span{
  display: inline-block;
  color: orange;
}



.he2{
  height: auto;
}

.shero{
  display: flex;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1{
  font-size: 2.2rem;
  width: 100%;
  font-weight: bold; 
  color:white;
}

.hero h2{
  line-height: 0%;
  font-weight: lighter;
  font-size: 1.5rem;
}

.hero p{
  padding-top: 2rem;
  width: 100%;
  color: lavender;
  font-size: 1.2rem;
  font-weight: lighter;
}

.hero a{
  text-decoration: none;
  color: white;
  padding: 0.7rem 1.4rem;
  background: orange;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.hero p.offer{
  font-size: 1.2rem;
  color:lavender;
  font-weight: lighter;
  font-style: none;
}

.book{
  background-color: #225775;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 1.8rem 0;
}
.book h2, .book p{
  padding-bottom: 0.6rem;
  font-weight: lighter;
  color: lavender;
}

.book h2{
  color: orange;
  font-size: 2rem;
}

form > *{
  display: block;
  width: 92%;
  margin: auto;
  padding: 0.4rem;
  margin-top: 1ren;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.scon p{
  padding-bottom: 1.4rem;
}
form > button{
  background: greenyellow;
  color: blue;
  font-size: 1.5rem;
}

.swhy {
  background-color:#2c3e50;
}

.swhy h2{
  text-align: center;
  padding: 2.5rem 0;
  color: white;
  font-weight: lighter;
  font-size: 1.7rem;
}

.why {
  display:flex;
  flex-wrap: wrap;
}

.wcon {
  background: #225775;
  width: 94%;
  margin: auto;
  padding: 2rem 1.2rem;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.wcon h3, .video h3{
  color:white;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid orange;
}

.wcon p{
  padding-top: 1rem;
  color:lavender;
  font-size: 1.2rem;
}

.wcon h3, .wcon p{
  text-align: center;
  font-weight: lighter;
}

.wcon a{
  display:inline-block;
  text-align: center;
  padding: 0.4rem 1.2rem;
  background: orange;
  width: 120px;
  border-radius: 0.2rem;
  margin-top: 1rem;
  color: white;
}

.svideo {
  background-color:darkslategrey ;
  padding: 2.5rem 0;
}

.video video{
  width: 70%;
  margin: auto;
  display: block;
}

.video h3{
  border: none;
  font-weight: lighter;
  text-align: center;
}

footer{
  background:black;
  padding: 2rem 0;
  color:lavender;
}

.sfooter{
  display: flex;
  width: 94%;
  margin: auto;
  flex-wrap: wrap ;
}

.focon{
  width: 100%;
  padding: 1rem 0;
}

.focon h3{
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
}

.focon p{
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
}

.exlist{

}

.sdes, .jdes {
  padding: 2rem 0;
  background-image: url(images/pack.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sdes div, .jdes div{
  width: 94%;
    margin: auto;
    background: rgba(0,0,0,0.6);
    padding: 1rem;
    border-radius: 0.8rem;
}

.sdes h1, .jdes h1{
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
}

.sdes p, .jdes p{
  padding-top: 1.8rem;
  font-size: 1rem;
  text-align: center;
  color:ghostwhite;
}

.sexpect {
  padding: 2rem 0;
  background: rgb(223, 219, 204);
}

.sexpect div{
  width: 92%;
  margin:auto;
  background: white;
  padding: 1rem;
  border-radius: 0.8rem;
}
.sexpect h2{
  color: orange;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

ul.exlist{
  padding: 0;
}
.exlist li{
  padding-bottom: 1rem;
  font-size: 1rem;
  display:flex;
}
.exlist i{
  color: green;
  display: inline-block;
  padding-right: 1rem;
}


.sexpect button, .bookbutt{
  padding: 0.8rem 1.5rem;
    border: none;
    outline: none;
    background-color: orange;
    display: inline-block;
    border-radius: 0.4rem;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.info{
  color: green;
  padding: 1.5rem 0;
}

.terms{
  display: inline;
  width: auto;
}

input.terms {
  padding-left: 5px;
}

.jdes {
  background-image: url(images/tour.jpg);
}

.packcon{
  position: relative;

}

.jbasic {
  background-image: url(images/jbasic.jpg);
}

p.pricing{
  font-size: 1.7rem;
  color: orange;
}

.jex div {
  background: linear-gradient(200deg, black, transparent);
}

.jex h2{
  color: white;
}

.jex ul{
  color: ivory;
}

.jex ul li i{
  color: orangered;
}

.jstand {
  background-image: url(images/jstand.jpg);
}

.jstand p {
  color: cyan;
}

.jstand h1{
  color:chartreuse;
}

div.jser{
  background:linear-gradient(120deg, #1b9bff, #000000);
}

div.jser ul{
  color: floralwhite;
}

/*
p.pricing{
  position: absolute;
  display: inline-block;
  top:25%;
  background:darkred;
  padding: 0.8rem;
  left: 32%;
  border-radius: 0.4rem;
  font-size: 1rem;
}
*/

.formcon{
  width:94%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#jobform{
  display: none;
}

@media (min-width: 992px){

 .nav{
  padding: 0 2rem;
 } 

  .shero{
    background-position:center;
  }

  .hero{
    height: 520px;
  }

  .pulap{
    position:relative;
  }

  .sbook{
    width:40%;
    position:absolute;
    right:0;
    top: 30%;
  }


  
  .checkbtn{
    display:none;
  }

 
  
}
